# Build results
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.user
*.suo
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config

# Others
*.dbmdl
*.bak
*.backup
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
Thumbs.db

# C# side
Source/SoulWeaver/Plugins

Assemblies/*
!Assemblies/SoulSerpent.dll